<div class="container">
  <h2 class="header">Stock Closing Variation 2018 - 2020</h2>
  <div class="row">
    <div class="col-10">
      <div id="chart-holder">
      
      </div>
    </div>
    <div class="col-2">
      <div class="point-detail">
        {{startPoint != {} ? (startPoint | json) : 'Please select any point on graph'}}
      </div>
    </div>
  </div>
  <hr />
  <div class="comments m-2">
    <p class="comments-header">Comments</p>
    <div class="scroll-v p-2">
      <div class="comment row" *ngFor="let comment of comments">
        <div class="col-12">
          <p  class="date m-0">From {{comment.startDate | date}} to {{comment.endDate | date}}</p>
          <p class="commment-value m-o">{{comment.comment}}</p>
        </div>
      </div>
      <div class="comment row" *ngIf="comments.length == 0">
       
        <p class="commment-value m-2">No Comments</p>
      </div>
    </div>
  </div>
</div>
